@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #D3D3D3;
}


html {
    background-color: #0E0E0E;
}


section {
    width: 100%;
    min-height: 95vh;
}




/*//// HEADER ////*/
header {
    width: 100%; height: 95vh;
    background-image: linear-gradient(transparent, #0E0E0E), url(../images/capa-lago.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    z-index: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

header .container-titulo {
    position: absolute;
    top: 10%;
    height: 500px;
    width: 65vw;
    
    display: flex;
    align-items: center;
    text-align: center;
}

header .container-titulo h1.titulo-capa {
    font-size: 118px;
    text-align: center;
    margin: auto;
    letter-spacing: 3px;
    
}

header .container-titulo h1.titulo-capa .palavra1 {
    font-family: "Bebas Neue", sans-serif;
    position: absolute;
    top: 20%;
    left: 6%;
    z-index: 1;
    color: #FFFFFF;
}

header .container-titulo h1.titulo-capa #e-comercial {
    font-family: "Abril Regular", serif;
    font-weight: 400;
    font-style: normal;

    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;

    color: #477ad0;
    position: absolute;
    top: 30%;
    left: 47%;
    z-index: 2;
}

header .container-titulo h1.titulo-capa .palavra2 {
    font-family: "Bebas Neue", sans-serif;
    position: absolute;
    top: 52%;
    right: 8%;
    z-index: 1;
    color: #FFFFFF;
}

header .arara-maior{
    position: absolute;
    top: 5%;
    left: 9%;
    z-index: 4;
    width: 320px;
}

header .arara-menor{
    position: absolute;
    top: 46%;
    right: 17.5%;
    z-index: 4;
    width: 174px;
    
}




a{
    font-family: "Bebas Regular", sans-serif;
    text-decoration: none;
}

#menu{
    width: 30px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}

.bar{
    height: 5px;
    width: 30px;
    background-color: black;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

#bar1{
    
    transform:  translateY(-4px);
}

#bar3{
    transform: translateY(4px);


}

.nav li a {
    
    color: white;
    text-decoration: none;
}

.nav li a:hover{
    font-weight: bold;

}

.nav li {
    list-style: none;
    padding: 16px 0;

}

.nav {
    
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease-in-out;
    display: none;
}


.menu-bg, #menu-bar{
    top: 0;
    left: 0;
    position: absolute;
}

.menu-bg{

    z-index: 6;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: rgba(0, 0, 0, 0.719);
    border-radius: 100%;
    transition: 0.3s ease-in-out;
}

#menu-bar{
    z-index: 7;
}

.change-bg{
    width: 100%;
    height: 700px;
    transform: translate(-60%, -30%);
}

.change .bar{
    background-color: antiquewhite;
}

.change #bar1{
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3{
    transform:  translateY(-6px) rotate(45deg);
}

.change #bar2{
    opacity: 0;
}

.changed{
    display: block;
}
