@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #D3D3D3;
}

html {
    background-color: #0E0E0E;
}

section {
    width: 100%;
    min-height: 95vh;
}





/*//// HEADER ////*/
header{
    width: 100%; height: 95vh;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header .bg_img {
    width: 100%; height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background: linear-gradient(transparent, #0E0E0E), url("../images/capa-lago.jpg") center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .9;
}

header .container-titulo {
    width: 470px; height: 250px;
    
    display: flex;
    align-items: center;
    text-align: center;
 
    position: relative;

    background-color: rgba(255, 0, 0, 0.439);
    border: 5px solid green;
}

header .container-titulo .titulo-capa {
    /* font-family: "Bebas regular", sans-serif; */
    font-weight: 400;
    font-style: normal;
    font-size: 70pt;
    text-align: center;
    margin: auto;
    letter-spacing: 1px;
    
}

header .container-titulo .palavra1 {
    font-family: "Bebas Neue", sans-serif; /* NAO MEXER NA FONTE */
    color: #FFFFFF;
    
    position: absolute;
    top: 10px;
    left: -16%;
    z-index: -1;
}

header .container-titulo #e-comercial {
    font-family: "Abril fatface", serif;
    font-weight: 400;
    font-style: normal;
    color: #477ad0;
}

header .container-titulo .palavra2 {
    font-family: "Bebas Neue", sans-serif; /* NAO MEXER NA FONTE */
    color: #FFFFFF;

    position: absolute;
    top: 52%;
    right: -3%;
    z-index: 2;
}

header .container-titulo .arara-maior {
    width: 360px;
    position: absolute;
    left: -300px;
    top: -160px;
    z-index: 4;
}

header .container-titulo .arara-menor {
    width: 174px;
    position: absolute;
    right: -50px;
    bottom: -70px;
    z-index: 4;
}



a {  /* PRA Q SERVE ISSO? */
    font-family: "Bebas Neue", sans-serif; /* NAO MEXER NA FONTE */
    text-decoration: none;
}







/*//// MENU ////*/
.container .hamburguer {
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 8;
    right: 2rem;
    top: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1001;
}

.container .hamburguer .line {
    width: 100%;
    height: .1rem;
    padding: 2px;
    border-radius: 10px;
    background-color: #000000;
    box-shadow: 0.1rem 0.1rem 3px black;
    transition: transform .9s;
}

.container .efeito-vidro {
    background-color: rgba(0, 0, 0, 0.567);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 700px;
    position: fixed;
    z-index: 99;
    transition: all 2s;
    
}



/* NAO EXISTE NADA COM ESSES ID'S DENTROS DESSAS CLASSES */
/* .show-menu #line1 {
    transform:  rotate(45deg) translate(.4rem, .9rem);
    background-color: #DAD7CD;
    box-shadow: none;
}

.show-menu #line2 {
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3 {
    transform: rotate(-45deg)  translate(.2rem, -.8rem);
    background-color: #DAD7CD;
    box-shadow: none;
} */

.sidebar {
    width: 100%;
    height: 700px;
    background-color: #020805ab;
    box-shadow: 10px 5px 15px 10px rgba(0,0,0,0.582);
    position: fixed;
    top: 0;
    right: -90rem;
    
    transition: all .8s;
}

.show-menu .sidebar {
    right: 0;
    z-index: 1000;
}

.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    gap: 70px;
    

}

.menu-item {
    border: 1px solid red;
    width: 300px;
    height: 400px;
    list-style: none;
    text-align: center;
    margin-bottom: .5rem;
}

.menu-link {
    font-family:"Bebas Neue", sans-serif;
    font-size: 2rem;
    color: white;
    transition: color .7s;
}

.menu-link:hover {
    color: black;
    transition: color .7s;
}
